<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    <bean id="boss1" class="com.fxb.demo.Boss1">
        <replaced-method name="test1" replacer="boss2" />
    </bean>

    <bean id="boss2" class="com.fxb.demo.Boss2" >
    </bean>

</beans>