<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
                    http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/security
                    http://www.springframework.org/schema/security/spring-security.xsd
">

    <sec:http auto-config="true">
        <sec:intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
        <sec:intercept-url pattern="/dba**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_DBA')" />
    </sec:http>

    <!--认证管理器-->
    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider>
            <sec:user-service>
                <sec:user name="user" authorities="ROLE_USER" password="123" />
                <sec:user name="admin" authorities="ROLE_ADMIN" password="123" />
                <sec:user name="dba" authorities="ROLE_DBA" password="123" />
            </sec:user-service>
        </sec:authentication-provider>
    </sec:authentication-manager>

</beans>