<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.fxb.springBootLearn.mapper.CustomerMapper">
    <resultMap id="CustomerResultMap" type="com.fxb.springBootLearn.entity.Customer" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR"  />
        <result column="age" property="age" jdbcType="INTEGER"  />
    </resultMap>

    <!-- 根据ID查询数据 -->
    <select id="findAll" resultMap="CustomerResultMap">
        select
        c.id AS "id",
        c.name AS "name",
        c.age AS  "age"
        from customer c
    </select>
</mapper>